<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  	<servlet>
		<servlet-name>revysh</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>revysh</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
  	<!--_____________________________________________________________________________________ 
  								These loads the context files - Begin
  	This points the process to the application context file
  	______________________________________________________________________________________-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext*.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--_____________________________________________________________________________________ 
  								These loads the context files - End
  	______________________________________________________________________________________-->
	
	
	<!--_____________________________________________________________________________________ 
  								These loads the Filters - Begin
  	Comment the below and and ones in the applicationContext-Security file to remove authentication
  	______________________________________________________________________________________-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--_____________________________________________________________________________________ 
  								These loads the Filters - End
  	______________________________________________________________________________________-->
</web-app>
